@tailwind base;

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Light.woff2") format("woff2"),
       url("../fonts/Haffer-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Regular.woff2") format("woff2"),
       url("../fonts/Haffer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Light.woff2") format("woff2"),
       url("../fonts/Teodor-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-LightItalic.woff2") format("woff2"),
       url("../fonts/Teodor-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Regular.woff2") format("woff2"),
       url("../fonts/Teodor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-ebony text-white;
}

.separated-list > li:not(:last-child) {
  @apply relative;
}

.separated-list > li:not(:last-child)::after {
  @apply absolute top-1/2 left-full ml-3 transform -translate-x-1/2 -translate-y-1/2;

  content: "|";
}

.button {
  @apply relative;

  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),
              background-color 100ms cubic-bezier(.694, 0, 0.335, 1),
              color 100ms cubic-bezier(.694, 0, 0.335, 1);
}

.button:before {
  @apply absolute bg-sidewalk h-full w-full inset-y-0 inset-x-0;

  content: " ";
  animation: opacityFallbackOut .5s step-end forwards;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1),
              -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
}

.button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-lime:before {
  @apply bg-lime;
}

@tailwind components;

@import 'swiper/css';
@import 'swiper/css/autoplay';

.marquee .swiper-wrapper {
  @apply ease-linear; 
}

@tailwind utilities;
