@tailwind base;

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Light.woff2") format("woff2"),
       url("../fonts/Haffer-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Regular.woff2") format("woff2"),
       url("../fonts/Haffer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Light.woff2") format("woff2"),
       url("../fonts/Teodor-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-LightItalic.woff2") format("woff2"),
       url("../fonts/Teodor-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Regular.woff2") format("woff2"),
       url("../fonts/Teodor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply text-white bg-not-dark-blue;
}

.container {
  @apply w-full px-4 mx-auto;
}

@screen sm {
  .container {
    max-width: 680px;
  }
}

@screen md {
  .container {
    max-width: 968px;
  }
}

@screen lg {
  .container {
    max-width: 1256px;
  }
}

.separated-list > li:not(:last-child) {
  @apply relative;
}

.separated-list > li:not(:last-child)::after {
  @apply absolute top-1/2 left-full ml-3 transform -translate-x-1/2 -translate-y-1/2;

  content: "|";
}

@screen md {
  .bg-animate {
    @apply relative;
  }
  
  .bg-animate,
  .bg-animate .bg-inner-animate {
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),
                background-color 100ms cubic-bezier(.694, 0, 0.335, 1),
                color 100ms cubic-bezier(.694, 0, 0.335, 1),
                border-color 100ms cubic-bezier(.694, 0, 0.335, 1);
  }
  
  .bg-animate:before {
    @apply absolute bg-voltage inset-0;
  
    content: " ";
    border-radius: inherit;
    animation: opacityFallbackOut .5s step-end forwards;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1),
                -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  }
  
  .bg-animate:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .bg-animate-electric-lime:before {
    @apply bg-electric-lime;
  }
  
  .bg-animate-voltage:before {
    @apply bg-voltage;
  }
}

@tailwind components;

.hero-headline > span:last-child > span:first-child {
  @apply text-electric-lime;
}

.section-1-ol {
  counter-reset: section-1-ol;
}

.section-1-ol li {
  counter-increment: section-1-ol;
}

.section-1-ol li::before {
  @apply block text-7xl font-light pb-8 mb-8 border-b border-gray;

  content: "0" counter(section-1-ol);
  line-height: 0.72727272em;
}

@screen md {
  .section-1-ol li::before {
    @apply block text-10xl;

    line-height: 0.72727272em;
  }
}



@tailwind utilities;
