@tailwind base;

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Light.woff2") format("woff2"),
       url("../fonts/Haffer-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer-Regular.woff2") format("woff2"),
       url("../fonts/Haffer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Light.woff2") format("woff2"),
       url("../fonts/Teodor-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-LightItalic.woff2") format("woff2"),
       url("../fonts/Teodor-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Teodor";
  src: url("../fonts/Teodor-Regular.woff2") format("woff2"),
       url("../fonts/Teodor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-ebony text-white;
}

.separated-list > li:not(:last-child) {
  @apply relative;
}

.separated-list > li:not(:last-child)::after {
  @apply absolute top-1/2 left-full ml-3 transform -translate-x-1/2 -translate-y-1/2;

  content: "|";
}

@tailwind components;

@import 'swiper/css';
@import 'swiper/css/autoplay';

.marquee .swiper-wrapper {
  @apply ease-linear; 
}

@tailwind utilities;
